<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Antony Loodus</title>
</head>
<body>
  <img src="vp_banner_2025_AA.jpg" alt="Kursuse bänner">
  <h1>Antony Loodus, veebiprogrammeerimine</h1>
  <p>See leht on loodud <a href="https://www.tlu.ee/">Tallinna Ülikooli</a> veebiprogrammeerimse kursusel ja see ei sisalda väärtuslikku informatsiooni.</p>
  <hr>
  <h2>Siin lehel leiad</h2>
  <ul>
  <li><a href="/timenow">Ajainfo</a></li>
  <li><a href="/vanasonad">Valik tuntud Eesti vanasõnu</a></li>
  <li><a href="/regvisit">Registreeri oma külastus</a></li>
  <li><a href="/eestifilm">Eesti film avaleht</a></li>
  </ul>
</body>
</html>